<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ABNLookup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<startup/><applicationSettings>
		<ABNLookup.My.MySettings>
			<setting name="ABNLookup_RefXml_ABRXMLSearch" serializeAs="String">
				<value>http://abr.business.gov.au/abrxmlsearch/ABRXMLSearch.asmx</value>
			</setting>
			<setting name="PreProcessEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PreProcessName" serializeAs="String">
				<value>C:\Program Files\ACL Software\ACL 9\ACLWin.exe</value>
			</setting>
			<setting name="PostProcessEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PostProcessName" serializeAs="String">
				<value>C:\Program Files\ACL Software\ACL 9\ACLWin.exe</value>
			</setting>
			<setting name="ProxyEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ProxyName" serializeAs="String">
				<value>proxy.nsw.com.au:1234</value>
			</setting>
			<setting name="ActivationCode" serializeAs="String">
				<value/>
			</setting>
			<setting name="ProxyUser" serializeAs="String">
				<value/>
			</setting>
			<setting name="ProxyDomain" serializeAs="String">
				<value/>
			</setting>
			<setting name="ProxyPassword" serializeAs="String">
				<value/>
			</setting>
			<setting name="PreProcessArgs" serializeAs="String">
				<value>C:\ABNChecker\ACL\ABNLookup.ACL /bE000_MainScript</value>
			</setting>
			<setting name="PostProcessArgs" serializeAs="String">
				<value>C:\ABNChecker\ACL\ABNLookup.ACL /bI000_MainScript</value>
			</setting>
			<setting name="DbSource" serializeAs="String">
				<value>C:\ABNChecker\ACL\ABN.TXT</value>
			</setting>
			<setting name="DbTarget" serializeAs="String">
				<value>C:\ABNChecker\ACL\ABN_ASIC.TXT</value>
			</setting>
			<setting name="AuthGuid" serializeAs="String">
				<value/>
			</setting>
			<setting name="ActivationSerialRequired" serializeAs="String">
				<value>True</value>
			</setting>
		</ABNLookup.My.MySettings>
	</applicationSettings>
</configuration>
